


body{
    margin : 0;
    padding: 0;
    height: 100vh;
}

.name-logo{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 100;
}

.Hero{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    background: rgba(146, 105, 105, 0.13)

}
.Hero ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    gap: 20px;

}
.Hero ul li a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
}
.submit-listing{
    padding : 10px;
    background: rgba(146, 105, 105, 0.13);
    border-radius: 5px;
    border: 1px solid white;
}

.menu-icon img{
    display: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

.form-title{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #1B263B;
    text-align: center;
    margin-top: 20px;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #1B263B;
    padding: 20px;
    border-radius: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 300px;
    background-color: #F2F2F2;
    color: #1B263B;
    
}
input:focus{
    outline: none;
    border: 2px solid #D4AF37;
    transition: all 1s;
    background-color: #F2F2F2;
    color: #1B263B;
}
textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 100px;
    background-color: #F2F2F2;
    color: #1B263B;
}
label{
    color: #f0f1f3;
}
.btn-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #1B263B;
    border: none;

}
.btn-form-chld{
    background-color: #F2F2F2;
    padding: 5px;
    border-radius: 10px;
    color: #1B263B;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.btn-form-chld:hover{
    background-color: #1B263B;
    color: #D4AF37;
    transition: all 1s;
    border-radius: 10px;
}
.form-container:hover{
    transition: all 1s;
    transform: scale(1.05);
}


@media screen and (max-width: 826px) {
    .Hero ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(248, 247, 247, 0.8);
        gap : 0px;
        backdrop-filter: blur(10px);
        overflow: hidden;
    }
    
    .Hero ul li{
        padding: 10px;
    }
    .menu-icon img{
        display: block;
    }
    #menuList {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    #menuList.open {
        max-height: 500px; /* ou une valeur assez grande pour contenir tout le menu */
    }
}